---
---

@import"{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient( 120deg, #155799, #673ab7);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #3f51b5;
}

a {
    color: #155799;
    text-decoration: none;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 0rem 0rem;
    }
}